
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Signature&family=Playwrite+US+Trad+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2a2a2a;
  --accent: #bc8f8f;
  --accent-bg: #ffcbcb;
  
  --accent-font: #906f6f;
  --background: #fff5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-inter: "Inter";
  --font-playwrite: "Playwrite US Trad Guides";
  --font-mono: "Edu NSW ACT Cursive";
   --font-caveat: "caveat";
}

.playwrite-us-trad-guides-regular {
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.inter-San {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 800;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.edu-nsw-act-cursive-bold {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Light mode: simple soft pink/white gradient */
#particles-js {
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    #ffecec,
    #ffe5e5,
    #fdfdfd
  );
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f5f0f8;
    --background: #0d0d0dda;
    --accent-bg: #715656dc;
  }

  #particles-js {
    background: linear-gradient(
      to bottom right,
      #0d0d0d,
      #271d1d, 
      #0a0a0a
    );
    background-size: cover;
  }
}

.dark {
  color: #f5f0f8;
  --background: #0d0d0dda;
  --accent-bg: #715656dc;

  #particles-js {
    background: linear-gradient(
      to bottom right,
      #0d0d0d,
      #271d1d,
      #0a0a0a
    );
    background-size: cover;
  }
}

.light {
  --background: #fff5f5;
  --accent-bg: #ffcbcb;
  color: #2a2a2a;
  
  #particles-js {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    #fafafa,
    #ffebeb,
    #fdfdfd
  );
  background-size: cover;
}
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
}

.box-shadow {
  box-shadow: 1rem -1rem 5rem 5rem var(--background),1rem 6rem 7rem 7rem var(--background);
}

canvas {
  display: block;
}

#root {
  position: relative;
  z-index: 1;
  width: 100vw;
  min-height: 100%;
}

